[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/jasper"]
	path = content/themes/jasper
	url = https://github.com/johngeorgewright/Ghost-Theme-Jasper.git
